<ion-header>
  <ion-navbar>
    <ion-title>
      Banner Mobile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ul>
    <li *ngFor="let course of courseone">
      {{ courseone.crn }}
    </li>
    <li *ngFor="let course of courseone">
      {{ courseone.subject }}
    </li>
    <li *ngFor="let course of courseone">
      {{ courseone.courseNum }}
    </li>
    <li *ngFor="let course of courseone">
      {{ courseone.section }}
    </li>
    <li *ngFor="let course of courseone">
      {{ courseone.title }}
    </li>
  </ul>

  <ul>
    <li *ngFor="let course of coursetwo">
      {{ coursetwo.crn }}
    </li>
    <li *ngFor="let course of coursetwo">
      {{ coursetwo.subject }}
    </li>
    <li *ngFor="let course of coursetwo">
      {{ coursetwo.courseNum }}
    </li>
    <li *ngFor="let course of coursetwo">
      {{ coursetwo.section }}
    </li>
    <li *ngFor="let course of coursetwo">
      {{ coursetwo.title }}
    </li>
  </ul>
</ion-content>
